<a href="https://colab.research.google.com/github/DavidRodrigues001/Aulas-de-Programacao/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas

In [ ]:
#Imprimir Lista

frutas = ['maçã','Banana','abacate','laranja']
print(frutas)

['maçã', 'Banana', 'abacate', 'laranja']

In [ ]:
#identificar o  tamanho de uma lista len(lista)
print(len(frutas))

4

In [ ]:
#count() - quantas vezes um valor aparece
frutas = ['maçã','banana','abacate','laranja','banana','banana','banana']
print(frutas.count('banana'))

4

In [ ]:
#imprimir elementos da lista pelo índice
carros = ['gol','uno','fiesta','lada','marajó','voyage','santana']
print(carros[0]) #gol
print(carros[1]) #uno
print(carros[2]) #fiesta
print(carros[-1]) #santana
print(carros[2:5]) #Slice do índicie 2 ao índice 4
print(carros[:4]) #Slice até o índice 3
print(carros[2:]) #Slice apartir do índice 2
#print(carros[7]) OUT OF INDEX|Da erro porque tenta imprimir algo que não existe

gol
uno
fiesta
santana
['fiesta', 'lada', 'marajó']
['gol', 'uno', 'fiesta', 'lada']
['fiesta', 'lada', 'marajó', 'voyage', 'santana']

In [ ]:
#Adicionar elementos a sua lista
frutas.append('goiaba')
print(frutas)

['maçã', 'banana', 'abacate', 'laranja', 'banana', 'banana', 'banana', 'goiaba']

In [ ]:
#Exercicio 1
#faça um código que pede que o usuário digite frutas na lista frutas.

fruta = input("Digite mais frutas: ")
frutas.append(fruta)
print(frutas)

In [ ]:
#Exercicio 2
#faça um laço o qual solicita ao usuario que digite o nome de um carro para inseri-lo na lista.
#Ele para quando o usuario digitar o número 0.
#ao final, imprime a lista e o seu tamanho.
print("faça uma lista e pare digitando 0")
carros = []

while True:
  carro = input("Digite o carro: ")
  if carro == '0':
    break
  carros.append(carro)

print(carros)
print(len(carros))

faça uma lista e pare digitando 0
Digite o carro: opala
Digite o carro: uno
Digite o carro: 0
['opala', 'uno']
2

In [ ]:
#Exercicio 3
#Um programa pyton que tem uma lista de valores, e o usuario deve digitar um numero
#caso ele exista ma lista, ele retorna a quantidade de vezes que ele ocorre na lista
#caso não exista ele informa ao usuario" numero não existe

lista=[2,4,5,2,3,7,8,2,5]
numero = int (input("Digite um numero: "))
if numero in lista:
  print(lista.count(numero))
else:
  print("NUmero não existe na lista!")

Digite um numero: 4
1

Remover valores

In [ ]:
carros = ['gol','uno','fiesta','lada','marajó','voyage','santana']

In [ ]:
#pop()
carros.pop()
print(carros)

In [ ]:
#pop pelo  índice
lista =["maçã", "banana", "laranja"]
indice = lista.index("banana") #encontrar o indice "banana"
lista.pop(indice) #Remove pelo indice
print(lista) #saida: ["maçã","laranja"]

In [ ]:
#del list[index]
nums = [4,5,3,2,6,8]

del nums[3]
print(nums)

In [ ]:
#remove() - remove a primeira ocorrencia do valor especificado
lista = ['jaca','melão', 'manga','graviola']
lista.remove('jaca')
print(lista)

['melão', 'manga', 'graviola']

In [ ]:
#list comprehension
lista = ['jaca','melão', 'manga','graviola','maça','jaca','banana','jaca']
fruta_remove = 'jaca'
lista = [x for x in lista if x != fruta_remove]
print(lista)

In [ ]:
#na lista de notas a seguir mantenha apenas as que
#são maiores ou iq=guais a sei. use list comprehension
notas = [6,8,5,4,7,7,9,3,6]

notas = [x for x in notas if x >=6]
print(notas)

[6, 8, 7, 7, 9, 6]

### Exercicio
Crie um programa que simula uma lista de tarefas.
O programa deve exibir um menu com 4 opções:
1. Adicionar tarefas
2. Remover tarefas
3. Listar terefas
4. Sair
O programa deve continuar no menu até o usúario escolher a opção sair.

In [ ]:
tarefas = []

while True:
    print("\nMenu de Tarefas")
    print("1. Adicionar tarefa")
    print("2. Remover tarefa")
    print("3. Listar tarefas")
    print("4. Sair")

    opcao = input("Escolha uma opção: ")

    if opcao == "1":
        tarefa = input("Digite a tarefa: ")
        tarefas.append(tarefa)
        print("Tarefa adicionada!")
    elif opcao == "2":
        if tarefas:
            for i, t in enumerate(tarefas, start=1):
                print(f"{i}. {t}")
            try:
                indice = int(input("Digite o número da tarefa para remover: ")) - 1
                if 0 <= indice < len(tarefas):
                    del tarefas[indice]
                    print("Tarefa removida!")
                else:
                    print("Número inválido!")
            except ValueError:
                print("Entrada inválida!")
        else:
            print("Nenhuma tarefa para remover.")
    elif opcao == "3":
        if tarefas:
            print("\nLista de Tarefas:")
            for i, t in enumerate(tarefas, start=1):
                print(f"{i}. {t}")
        else:
            print("Nenhuma tarefa na lista.")
    elif opcao == "4":
        print("Saindo...")
        break
    else:
        print("Opção inválida! Tente novamente.")

List comprehens

In [6]:
#Exibe as notas menores que 5
notas = [10, 4, 2, 5, 1, 9, 8, 6]
menores = [nota for nota in notas if nota <= 5]
print(menores)

[4, 2, 5, 1]

In [7]:
#Criar uma lista com os quadros dos números de 0 a 9
quadros = [x **2 for x in range(10)]
print(quadros)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#List comprehens com condicional
#Filtrar apenas os números pares de uma lsta
numeros = [1,2,3,4,5,6]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

[2, 4, 6]

In [ ]:
#Strings
nome = 'David'
for letra in nome:
  print(letra)
print(len(nome)) #Imprime o tamanho da String
print(nome.upper()) #Todos os caracteres maiusculos
print(nome.lower()) #Todods os caracteres minusculos

In [ ]:
nomes = ['João', 'Ana', 'Epaminondas', 'Godrofedo','Lair','Setembrino']

maisde5 = [nome for nome in nomes if len(nomes) >= 5]
print(maisde5)

In [17]:
nomes = ['João', 'Ana', 'Epaminondas', 'Godrofedo','Lair','Setembrino']
caixaAlta = [nome.upper() for nome in nomes if len(nome)<5]
print(caixaAlta)

['JOÃO', 'ANA', 'LAIR']

In [18]:
#Dobrar os números imparea de uma lista
dobro_impares = [n*2 for n in numeros if n % 2 != 0]
print(dobro_impares)

[2, 6, 10]

In [24]:
# Atribuir 2 pontos as notas menores que 5
notas = [9.0,4.5,2.3,6.0,8.2,5.3]
pontos = [nota+2 for nota in notas if nota <5]
print(pontos)

[6.5, 4.3]

Função Lambda
--------------
Lambda cria Funções anônimas, ou seja, sem nome. E usada para escrever

In [26]:
#Retornar a metade de um numero usando Lambda
numero = lambda a : a/2
print(numero(5))

2.5

In [27]:
#Função que soma dois valores
soma = lambda x,y : x+y
print(soma(10,5))

15

map() --> Transformar
----------------------

In [28]:
#Com map
#list(map(funçãolambda,Lista que esta sendo usada))
numeros = [2,3,4,5,6,7]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

[4, 9, 16, 25, 36, 49]

In [29]:
#Criar uma lista com o dobro de cada elemento
numeros = [1,2,3,4,5,6]
dobro = list(map(lambda x: x*2, numeros))
print(dobro)

[2, 4, 6, 8, 10, 12]

In [32]:
#Converter uma lista de palavras para letras maiusculas
palavras = ['é','Hoje','My','Consagrated']
caixaalta = list(map(lambda x : x.upper(), palavras))
print(caixaalta)

['É', 'HOJE', 'MY', 'CONSAGRATED']

Filter

In [33]:
numeros = [1,2,3,4]
pares = list(filter(lambda x : x % 2 == 0, numeros))
print(pares)

[2, 4]

In [36]:
#Filtrar apenas palavras com mais de 4 letras
nomes = ['Cristiano','Alien','Ary','Bete','Já']
filtrar = list(filter(lambda x : len(x)>4, nomes))
print(filtrar)

['Cristiano', 'Alien']

In [39]:
numeros = [3,7,2,8,1,4,10]
dobro = list(map(lambda x: x*2, numeros))
print(dobro)

pares = list(filter(lambda x : x % 2 == 0, numeros))
print(pares)

paresImpares = [n*2 if n % 2 == 0 else n for n in numeros]
print(paresImpares)

[6, 14, 4, 16, 2, 8, 20]
[2, 8, 4, 10]
[3, 7, 4, 16, 1, 8, 20]